{% extends 'core/header.html' %}

{% block title %}Quiz{% endblock %}

{% block content %}

<div class="row" style="height: 100px;">
  <div class="col-6" style="height: 100px;">
    {% for question in questions %}
    <div class="card text-white bg-warning mb-3" style="max-width: 18rem; height: 200px;">
      <div class="card-header">{{question.content}}</div>
      <div class="card-body">
        
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="col-6" style="height: 100px;">
    {% for op in options %}   
    
    <div class="card text-white bg-warning mb-3" style="max-width: 18rem; height: 200px;">
      <div class="card-body">
        {% for option in op %}
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"/>
          <label class="form-check-label" for="flexRadioDefault1">{{option.content}}</label>
        </div>
        {% endfor %}
        </div>
    </div>
    {% endfor %}
  </div>
</div>
  <div>
  </div>
    
  {% endblock %}