{% extends 'core/header.html' %}

{% block title %}Quiz{% endblock %}

{% block content %}

<section style="margin: auto; max-width:50%; display: flex; flex-direction: column; flex-wrap: wrap; justify-content: center;  margin-top: 3%; ">
    {% for question in page_obj %}  
    <form id="takeQuiz" style="display: flex; flex-direction: column;">
    {% csrf_token %}     
        <input type="hidden" name="question_id" value="{{ question.id }}" id="questionID">
        <div class="card text-white bg-warning mb-3" style="max-width: 100rem; height: 200px;">
          <div class="card-header">{{question.content}}</div>
            <div class="card-body" style="max-height: 300px; padding-bottom: 20px;">
            <p class="card-text">
              {% for op in options %}
              <div class="form-check" id="option">
                <input class="form-check-input" data-question-id="{{ op.id }}" onchange="submitValue(this)" type="radio" name="option" id="{{op.id}}" value="{{op.content}}"><label>
                  {{op.content}}
                </label>
              </div>              
              {% endfor %}
            </p>
            </div>
          </div> 
        {% endfor %} 
        <input type="hidden" name="current_page" value="{{page_obj.number}}" />
        {% if not page_obj.has_next %}
          <button type="submit"  onclick="submitResult()" class="btn btn-info btn-lg btn-block text-white" style="max-width: 80%; margin: auto;">Check my answers!</button>
        {% endif %}
        </form>
<br>
<div class="container" >
                <nav aria-label="Page navigation example" style="width: 45%; margin: auto;">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                        {% endif %}
                        <li class="page-item disabled">
                            <a class="page-link" tabindex="-1" aria-disabled="true">Question {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
                        </li>
                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}" >Next</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
           
        </div>
      </section>
<script>
    var answers=[]
    function submitValue(ele){
        var questionID = document.getElementById('questionID').value
        var answer = ele.value
        answers.push(answer)
        sessionStorage.setItem(questionID, answer);
    }
    // this script will keep track of user activity i.e retrive user answers from session storage. ie if you move to previous or next page user's choosed answers will be displayed.
    $(window).on('load', function(){  
        var questionID = document.getElementById('questionID').value
        var arrayElements = document.getElementsByClassName('form-check-input')
        if (sessionStorage.length){
            var value = sessionStorage.getItem(questionID)
            const ele = Array.prototype.filter.call(arrayElements, (ele) => ele.value == value)
            if (ele.length > 0){
                ele[0].checked = true;
            }
        }
    });
</script>

<script>
    function getCookie(name) {
  let cookieValue = null;
  if (document.cookie && document.cookie !== "") {
    const cookies = document.cookie.split(";");
    for (let i = 0; i < cookies.length; i++) {
      const cookie = cookies[i].trim();
      // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1) === (name + "=")) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}
    function submitResult(){
      var newURL=""
      fetch("",{
      method: "POST",
      dataType: "json",
      body: JSON.stringify(sessionStorage),
      headers: {
        "X-Requested-With": "XMLHttpRequest",
        "X-CSRFToken": getCookie("csrftoken"),  
      }
}).then(
      newURL=location.protocol + '//' + location.host + location.pathname+"/result",
      console.log(newURL),
      window.location.replace(newURL),
      sessionStorage.clear()
);}

    const takeQuiz=document.getElementById('takeQuiz')
    takeQuiz.addEventListener("submit",(e)=>{
      e.preventDefault()
      submitResult()
    })

</script>
{% endblock %}