{% extends 'core/header.html' %}

{% block title %}Categories{% endblock %}

{% block content %}
<div class="form-group has-search mt-5" style="max-width: 30%; margin: auto;">
  <span class="fa fa-search form-control-feedback"></span>
  {% csrf_token %}
  <input type="text"
      hx-post="{% url 'search' %}" 
      hx-target='#results'
      hx-trigger="keyup changed delay:500ms"
      name="search"
      id="search-input"
      class="form-control" placeholder="Search" />
  </form>
</div>
{% if opt %}
<div class="d-flex mt-5" style="max-width: 20%; margin: auto; ">
  {% csrf_token %}
  <button type="button"
      hx-post="{% url 'all' %}" 
      hx-target='#results'
      hx-trigger="click"
      name="search"
      class="btn btn-primary w-100 btn-lg">All Categories</button>
  </form>
</div>
<div id="results"></div>
{% endif %}
{% endblock %}