{% extends 'core/header.html' %}

{% block title %}Categories{% endblock %}
{% block content %}
<!-- 
<form class="d-flex input-group w-auto mt-5" style="max-width: 30%; margin: auto;" > -->
  <!-- <form>
  {% csrf_token %}
  <input type="text"
        hx-post="{% url 'categories' %}" 
        hx-target='#results'
        hx-trigger="keyup changed delay:500ms"
        name="search"
        placeholder="Search films..." />
  <span class="input-group-text border-0" id="search-addon">
    <button type="submit" class="btn btn-primary">Find</button>
  </span>
</form> -->
<div class="d-flex justify-content-end mb-4">
  {% csrf_token %}
  <input type="text"
      hx-post="{% url 'search' %}" 
      hx-target='#results'
      hx-trigger="keyup changed delay:500ms"
      name="search"
      class="form-control-sm mr-2" 
      placeholder="Search films..." />
  
  </form>
</div>
<div id="results"></div>

{% if categories %}
<section class="pt-8 pt-md-9">
  
  <div class="row" style="max-width: 50%; margin: auto;">
    <div class="row row-cols-2 g-4">
      {% for category in categories %}
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{category.name}}</h5>
              <p class="card-text"></p>
              <a href="category/{{category.slug}}" class="btn btn-primary">See Quizes</a>
            </div>
          </div>
        </div>
      {% endfor %}
</div>

  </div>
      
  </section>
  {% endif %}
{% endblock %}