{% extends 'core/header.html' %}

{% block title %}Quiz{% endblock %}

{% load static %}
{% block content %}
<style>
    .divider {
  border-right: 1px solid #ccc;
  height: 100%;
}
 
</style>
<div class="container py-5">
    {% for key, values in quiz_res.items %}
    <div class="row justify-content-center mb-3">
        <div class="col-md-12 col-xl-10">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                  <div class="bg-image hover-zoom ripple rounded ripple-surface">
                    <img src="{{key.img.url}}" alt="{{key.img}}"
                      class="w-100" />
                    <a href="#!">
                      <div class="hover-overlay">
                        <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <h5>{{key.quiz_name}}</h5>
                <ul class="nav nav-list">
                    <li class="divider"></li>
                    <li>
                        <a href="#" data-toggle="collapse" data-target="#toggle">See All Scores</a>
                    </li>
                </ul>
                    <ul id="toggle" style="list-style-type: none;" class="collapse out" >
                        {% for v in values %}
                        <li class="m-3">    
                            <div class="card">
                            <div class="card-header">
                                {{v.quizdate}}
                            </div>
            
                            <div class="card-body">
                                <div class="row">
                                  <div class="col">
                                    <div class="container-inner">
                                        <span style="color: green;">Correct</span> 
                                        <span class="badge badge-pill bg-success ">{{v.correct}}</span>
                                    </div>
                                  </div>
                                <div class="col">
                                    <div class="container-inner">
                                        <span style="color: red;">Wrong</span>
                                      <span class="badge badge-pill bg-danger ">{{v.wrong}}</span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="container-inner">
                                        <span style="color: #4ea3a9;">Points</span>
                                        <span class="badge badge-pill bg-warning ">{{v.points}}%</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                
                </div>
                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                  <div class="d-flex flex-row align-items-center mb-1">
                    <h4 class="mb-1 me-1">$14.99</h4>
                    <span class="text-danger"><s>$21.99</s></span>
                  </div>
                  <h6 class="text-success">Free shipping</h6>
                  <form method="POST" class="d-flex flex-column mt-4">
                    {% csrf_token %}
                    <a href="http://127.0.0.1:8000/categories/category/{{key.category.name}}/quiz/{{key.url}}" class="btn btn-sm" style="background-color: #7ebdc2; color: white;">Take this quiz again</a>
                    <button name="quizID" value="{{key.id}}" class="btn btn-sm mt-2" style="border: 2px solid; border-color: #7ebdc2;" type="submit">
                      Delete from progress
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
</div>
  

{% endblock %}