    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <section style="background-image: linear-gradient(to right top, #95f9c3,#0b3866);">
        <div class="container py-5 ">
          <div class="row d-flex justify-content-center align-items-center">
            <div class="col col-xl-10">
              <div class="card" style="border-radius: 1rem;">
                <div class="row g-0">
                  <div class="col-md-6 col-lg-5 d-none d-md-block">
                    <img src="{% static 'images/signup.jpg' %}"
                      alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                  </div>
                  <div class="col-md-6 col-lg-7 d-flex align-items-center">
                    <div class="card-body p-4 p-lg-5 text-black">
      
                      <form method="POST" >
                        {% csrf_token %}
                      <div class="d-flex align-items-center mb-3 pb-1">
                          <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                          <span class="h1 fw-bold mb-0">Sign Up</span>
                        </div>
      
                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Create a new account</h5>
      
                        
                        <div class="form-outline mb-4">
                          <input type="text" placeholder="Username" id="id_username" name="username" class="form-control form-control-lg" />
                        </div>
      
                        <div class="form-outline mb-4">
                          <input type="text" placeholder="First Name" id="id_first_name" name="first_name" class="form-control form-control-lg" />
                        </div>

                        <div class="form-outline mb-4">
                          <input type="text" placeholder="Last Name" id="id_last_name" name="last_name" class="form-control form-control-lg" />
                        </div>

                        <div class="form-outline mb-4">
                            <input type="email" id="id_email" name="email" placeholder="Email" class="form-control form-control-lg" />
                          </div>
      
                          <div class="form-outline mb-4">
                            <input type="date" id="id_birthday" name="birthday" placeholder="Birthday" class="form-control form-control-lg" />
                          </div>
    
                        <div class="form-outline mb-4">
                          <input type="password" id="id_password1" name="password1" placeholder="Password" class="form-control form-control-lg" />
                        </div>
                        <div class="form-outline mb-4">
                            <input type="password" id="id_password2" name="password2" placeholder="Repeat Password" class="form-control form-control-lg" />
                        </div>

                        <div class="pt-1 mb-4">
                          <input class="btn btn-dark btn-lg btn-block" type="submit" value="Sign Up"/>
                        </div>
      
                        <p style="color: #393f81;"><br>Already have an account? <a href="http://127.0.0.1:8000/login/"
                            style="color: #393f81;">Sign In</a></p>
                      </form>
      
                      {% if form.non_field_errors %}
                      <div class="alert alert-danger">
                        {% for error in form.non_field_errors %}
                        <strong>{{error}}</strong>
                        {% endfor %}
                      </div>
                      {% endif %}
                      {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %} 
                               <div class="alert alert-danger">
                                    <strong>{{field.name.capitalize}} - {{ error|escape }}</strong>
                               </div>
                            {% endfor %}
                        {% endfor %}
                     {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
