{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
<section class="vh-100" style="background-image: linear-gradient(to right top,#f6cfbe,#b9dcf2);">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
            <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              
              <div class="col-md-12 col-lg-7 d-flex align-items-center">
                <h1>Hello, my little girl</h1>
                <div class="d-none d-md-block">
                    <img src="{% static 'images/done.jpg' %}"
                      alt="reset form" class="img-fluid" style="border-radius: 0 1rem 1rem 0;" />
                  </div>
              </div>
            </div>
            </div>
      </div>
    </div>
    </div>

  </section>
